<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecommerce</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/custom.css" />
</head>

<body>
  <div class="top__header">
    <div class="container">
      Shop
    </div>
  </div>
  <div class="navigation">
    <div class="container">
      <nav>
        <% if(currentUser) {%>
        <a class="btn btn-primary" href="/items">Items</a>
        <a class="btn btn-primary" href="/cart">Cart</a>
        <a class="btn btn-primary" href="/orders">Orders</a>
        <a class="btn btn-primary" href="/auth/logout">Logout</a>
        <%} %>
      </nav>
      <% if(!currentUser) {%>
      <a class="btn btn-primary" href="/auth/signin">Signin</a>
      <a class="btn btn-primary" href="/auth/signup">Signup</a>
      <%} %>
    </div>
  </div>

  <%- body %>
</body>

</html>