<form action="/items/edit" method="post">
    <input name="name" placeholder="Item name" />
    <input name="description" placeholder="description" />
    <input name="quantity" placeholder="quantity" />
    <input name="price" placeholder="price" />

    <button type="submit">Add Item</button>
</form>